.loader {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 110px;
    padding: 96px 15px 15px 170px;
    backdrop-filter: blur(3px);
    width: 370px;
    height: 430px;
}

.waitingMessage {
    position: absolute;
    left: 50%;
    top: 310px;
    transform: translateX(-50%);
}

.errorMessage {
    position: relative !important;
    z-index: 1;
}

.circleSkip {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    background-color: #2d2d2d;
    z-index: 1;
    right: 15px;
    top: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    z-index: 999;
}

.hide {
    display: none !important;
}