.chatInputContainer {
    position: relative;
}

.sendMessageContainer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.chatInputContainer input {
    padding: 12px 12px 12px 25px;
    border-radius: 25px;
    border: none;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px -1px gray;
    margin: 15px;
    width: 100%;
}

.circleInput {
    width: 37px;
    height: 37px;
    background-color: #98ff98;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    right: 23px;
}

.sendMessageIcon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='scale(0.8),translate(0,0)' fill='%23282828' width='32' height='32' stroke-width='0' stroke='rgb(0,0,0)'%3E%3Cpath d='M 0,0 32,12.644377 0,25.37386 5.6048637,13.945288 22.638297,12.705168 5.6170211,11.416414 Z' /%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 20px;
    margin-top: 28px;
    cursor: pointer;
}